<!DOCTYPE html>
<html lang="en-US" dir="ltr" data-navigation-type="default" data-navbar-horizontal-shape="default">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- ===============================================-->
    <!--    Document Title-->
    <!-- ===============================================-->
    <title>Phoenix</title>



    <script>
      var phoenixIsRTL = window.config.config.phoenixIsRTL;
      if (phoenixIsRTL) {
        var linkDefault = document.getElementById('style-default');
        var userLinkDefault = document.getElementById('user-style-default');
        linkDefault.setAttribute('disabled', true);
        userLinkDefault.setAttribute('disabled', true);
        document.querySelector('html').setAttribute('dir', 'rtl');
      } else {
        var linkRTL = document.getElementById('style-rtl');
        var userLinkRTL = document.getElementById('user-style-rtl');
        linkRTL.setAttribute('disabled', true);
        userLinkRTL.setAttribute('disabled', true);
      }
    </script>
  </head>


  <body>




    <!-- ===============================================-->
    <!--    Main Content-->
    <!-- ===============================================-->
    <main class="main" id="top">


  <div class="d-flex justify-content-center">
    <section class="pt-5 pb-9 w-100" style="max-width: 1200px;">

      <div class="content">





        <div class="row gx-6 gy-3 mb-4 align-items-center">
          <div class="col-auto">
            <h2 class="mb-0">Cursos Disponibles</h2>
          </div>
        </div>
       


        <div class="row justify-content-between align-items-end mb-4 g-3">
          <div class="col-12 col-sm-auto">
            <ul class="nav nav-links mx-n2">
              <li class="nav-item"><a class="nav-link px-2 py-1 active" aria-current="page" ><span (click)="getCursosAdmin()">Todos</span><span class="text-body-tertiary fw-semibold"> ({{this.totalcursos}})</span></a></li>
            </ul>
          </div>
          <div class="col-12 col-sm-auto">
            <div class="d-flex align-items-center">
              <div class="search-box me-3">
                <form class="position-relative">
       

                </form>
              </div>
            </div>
          </div>
        </div>
        

         <div class="row g-3 mb-9">


          <div *ngFor="let cursos of cursosp" class="col-12 col-sm-6 col-md-4 col-xxl-3">
<div>

<a class="nav-link px-2 py-1 active" aria-current="page" ><span class="text-body-tertiary fw-semibold"><strong>{{cursos.NOMBRECURSO}}</strong></span></a>






<div 
  class="btn-reveal-trigger position-relative rounded-2 overflow-hidden" 
  style="height: 236px;"
>
  <!-- Imagen de fondo -->
  <div 
    class="bg-holder w-100 h-100" 
    [style.background-image]="
      'linear-gradient(180deg, rgba(0, 0, 0, 0) 39.41%, rgba(0, 0, 0, 0.4) 100%), url(' + urlStorage + 'cursos/' + cursos.IMAGEN + '.jpg)'"
  ></div>

  <!-- Texto encima -->
  <div 
    class="position-absolute top-0 start-0 p-2" 
    style="z-index: 2;"
  >
    <span 
      *ngIf="cursos.ESTAACTIVO == 'ACTIVO'" 
      class="badge bg-success"
    >
      {{ cursos.ESTAACTIVO }}
    </span>
    <span 
      *ngIf="cursos.ESTAACTIVO == 'INACTIVO'" 
      class="badge bg-warning text-dark"
    >
      {{ cursos.ESTAACTIVO }}
    </span>
  </div>




    <!-- Combo para activar/inactivar -->
  <div class="position-absolute top-0 end-0 p-2" style="z-index: 2;">
    <select 
      class="form-select form-select-sm" 
      style="font-size: 12px; width: auto;" 
      (change)="cambiarEstadoCurso($event,cursos.SECUENCIALCURSO)"
    >
      <option [value]="cursos.ESTAACTIVO" selected disabled>
        {{ cursos.ESTAACTIVO }}
      </option>
      <option *ngIf="cursos.ESTAACTIVO === 'ACTIVO'" value="0">
        Inactivar
      </option>
      <option *ngIf="cursos.ESTAACTIVO === 'INACTIVO'" value="1">
        Activar
      </option>
    </select>
  </div>
</div>





          </div></div>



        </div>
      </div>
</section>
</div>

    </main>
    <!-- ===============================================-->
    <!--    End of Main Content-->
    <!-- ===============================================-->



  </body>

</html>